{
	"presets": [
		"@babel/typescript",
		[
			"@babel/env",
			{
				"targets": "node 10"
			}
		]
	],
	"plugins": ["@babel/transform-runtime"],
	"env": {
		"esm": {
			"presets": [
				"@babel/typescript",
				[
					"@babel/env",
					{
						"targets": "node 10",
						"modules": false
					}
				]
			]
		},
		"test": {
			"presets": ["@babel/env"]
		}
	}
}
